body {
    position: relative;
    background: black;
    color: white;
    z-index: -4;
}

header {
    position: relative;
}

.container {
    position: relative;
    z-index: -4;
}

.content {
    position: relative;
    z-index: -4;
}

.header-box {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 25px;
}

.header-box .logo {
    position: absolute;
    left: 65px;
    width: 165px;
    height: 45px;
    background: url("../images/logo.png") no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
}

.header-box .login {
    position: absolute;
    width: 82px;
    height: 35px;
    background: red;
    border-radius: 5px;
    color: white;
    right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: relative;
    height: 785px;
    z-index: -3;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 785px;
    top: 0;
    background: url("../images/netflexImg.jpg");
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.background-wrap {
    position: absolute;
    width: 100%;
    height: 785px;
    top: 0;
    background: rgba(0, 0, 0, 0.342);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    border-bottom: 8px solid rgb(58, 58, 58);
    z-index: -1;
}

.background-text {
    text-align: center;
    color: white;
    position: absolute;
    width: 800px;
    height: 385px;
    right: 50%;
    top: 30%;
    transform: translateX(425px);
    z-index: 0;
}

.background-text>h3 {
    font-size: 65px;
    font-weight: bold;
    line-height: 1.3em;
    word-break: keep-all;
}

.background-text>h4 {
    display: inline-block;
    width: 600px;
    font-size: 25px;
    padding: 20px 0;
    line-height: 1.5em;
    word-break: keep-all;
}

.email-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.email-wrap {
    position: relative;
    width: 100%;
    height: 70px;
}

.email-box>.email-wrap input {
    position: absolute;
    left: 0;
    font-size: 18px;
    padding: 10px;
    width: 65%;
    height: 70px;
    box-sizing: border-box;
}

.email-box>.email-wrap label {
    position: absolute;
    left: 10px;
    top: 35%;
    color: rgb(128, 128, 128);
    transition: .1s;
}

.email-box input:focus~label {
    top: 10%;
    font-size: 12px;
}

.email-box .email-btn {
    position: absolute;
    width: 35%;
    height: 70px;
    right: 0;
    background: red;
}

.email-btn a {
    color: white;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.background-text>p {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 18px;

}




.content1 {
    position: relative;
    border-bottom: 8px solid rgb(58, 58, 58);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 .content-box {
    width: 1100px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 .content-text {
    width: 500px;
    position: absolute;
    left: 0;
}

.content1 .content-text>h3 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.content1 .content-text>p {
    font-size: 26px;
    line-height: 1.3em;
    word-break: keep-all;
}

.content1 .content-img {
    position: absolute;
    right: 0;
    background: url('../images/tv.png');
    background-size: cover;
    width: 500px;
    height: 400px;
}

.content1 .content-img video {
    position: absolute;
    width: 380px;
    top: 85px;
    left: 75px;
}

.content2 {
    position: relative;
    border-bottom: 8px solid rgb(58, 58, 58);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 .content-box {
    width: 1200px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 .content-text {
    width: 500px;
    position: absolute;
    right: 0;
}

.content2 .content-text>h3 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    word-break: keep-all;
    line-height: 1.3em;
}

.content2 .content-text>p {
    font-size: 26px;
    line-height: 1.3em;
}

.content2 .content-img {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
}

.content2 .content-img .img {
    background: url('../images/mobile-0819.jpg');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 350px;
}

.content2 .content-img .download {
    position: absolute;
    bottom: 15px;
    width: 330px;
    height: 90px;
    background: black;
    border-radius: 10px;
    border: 2px solid rgb(68, 68, 68);
    display: flex;
    align-items: center;
}

.download .download-img {
    position: absolute;
    left: 20px;
    background: url('../images/boxshot.png');
    background-size: 100%;
    width: 50px;
    height: 70px;
}

.download .download-text {
    position: absolute;
    left: 88px;
}

.download .download-text p:first-child {
    line-height: 1.4em;
}

.download .download-text p:last-child {
    font-size: 14px;
    color: rgb(83, 83, 255);
}

.download .download-gif {
    position: absolute;
    right: 20px;
    width: 48px;
    height: 60px;
    background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif');
    background-size: 100% auto;
    background-position: center;
}



.content3 {
    position: relative;
    border-bottom: 8px solid rgb(58, 58, 58);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content3 .content-box {
    width: 1100px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content3 .content-text {
    width: 600px;
    position: absolute;
    left: 0;
}

.content3 .content-text>h3 {
    display: inline-block;
    width: 500px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.content3 .content-text>p {
    font-size: 26px;
    line-height: 1.3em;
    word-break: keep-all;
}

.content3 .content-img {
    position: absolute;
    width: 500px;
    height: 400px;
    right: 0;
}

.content3 .content-img .img {
    position: absolute;
    background: url('../images/device-pile.png');
    width: 500px;
    height: 400px;
    background-size: cover;
    z-index: 3;
}

.content3 video {
    position: absolute;
    width: 325px;
    top: 45px;
    left: 102px;
    z-index: 2;
}




.QnA {
    border-bottom: 8px solid rgb(58, 58, 58);
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.qna-content {
    width: 800px;    
}

.qna-content h3 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.qna-content ul li {
    position: relative;
    display: inline-block;
    width: 800px;
    height: 75px;
    background: #303030;
    margin: 10px 0;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}

.qna-content ul input[type=checkbox] {
    position:fixed; 
    left:-9999px;
}

.qna-content ul input[type=checkbox]:checked ~ span {
   display: inline-block;
}

.qna-content ul li i {
    position: absolute;
    right: 30px;
    font-size: 35px;
}

.qna-content>p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.qna-content .email-box {
    margin-top: 70px;
    width: 100%;
    
}

.qna-content .email-box .email-wrap {
    width: 95%;
}

.items span {
    display: none;
    padding: 20px 30px;
    font-size: 25px;
    background: #303030;
    line-height: 1.4em;
    word-break: keep-all;
    margin-top: -8px;
}

@media all and (max-width:1250px) {

    .email-wrap {
        width: 90%;
    }

    .background-text>h3 {
    font-size: 60px;
}

.background-text>h4 {
    font-size: 20px;
}

.email-box>.email-wrap input {
    font-size: 13px;
}

.email-box input:focus~label {
    top: 10%;
    font-size: 7px;
}

.email-btn a {
    font-size: 23px;
}

.background-text>p {
    font-size: 15px;
    bottom: 60px;
}
.content1 .content-text {
    width: 40%;
    left: 50px;
}
.content1 .content-img {
    right: 50px;
    width: 400px;
    height: 300px;
}

.content1 .content-img video {
    position: absolute;
    width: 285px;
    top: 63px;
    left: 57px;
}

.content1 .content-text h3 {
    font-size: 40px;
}

.content1 .content-text p {
    font-size: 23px;
}


.content2 .content-text {
    width: 40%;
    right: 50px;
}

.content2 .content-text h3 {
    font-size: 40px;
}

.content2 .content-text p {
    font-size: 23px;
}

.content2 .content-img .img {
    width: 450px;
    height: 300px;
}

.content2 .content-img .download {
    width: 300px;
    height: 80px;
}

.download .download-img {
    width: 45px;
    height: 60px;
}

.download .download-gif {
    width: 45px;
    height: 65px;
}

.content3 .content-text {
    width: 40%;
    left: 50px;
}

.content3 .content-text>h3 {
    width: 100%;
    font-size: 40px;
    word-break: keep-all;
}

.content3 .content-text>p {
    font-size: 23px;
}

.content3 .content-img {
    position: absolute;
    width: 400px;
    height: 300px;
    right: 50px;
}

.content3 .content-img .img {
    position: absolute;
    background: url('../images/device-pile.png');
    width: 400px;
    height: 300px;
    background-size: cover;
    z-index: 3;
}

.content3 video {
    position: absolute;
    width: 250px;
    top: 40px;
    left: 75px;
    z-index: 2;
}

.qna-content h3 {
    font-size: 40px;
}

.qna-content {
    width: 700px;
}

.qna-content ul li {
    width: 100%;
    font-size: 20px;
}


.qna-content ul li i {
    font-size: 27px;
}

.qna-content>p {
    font-size: 13px;
}

.qna-content .email-box {
    margin-top: 70px;
    width: 100%;
    
}

.qna-content .email-box .email-wrap {
    width: 95%;
}

.items span {
    display: none;
    padding: 20px 30px;
    font-size: 25px;
    background: #303030;
    line-height: 1.4em;
    word-break: keep-all;
    margin-top: -8px;
}

}